node_modules/
.env
build/
dist/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
coverage/
*.log
local.properties
*.g.dart
*.freezed.dart
android/.gradle/
android/captures/
*.keystore
*.jks
